@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
  margin: 0;
}

body {
  min-width: 100%;
  min-height: 100vh;
}

#background-section, #page-container{
  width: 100vw;
  height: 100vh;
}

#page-container{
    position: relative;
}
  
#background-section{
  display: block;
}

#body-section{
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  Top: 0;
  margin-top: 71px;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  height: 75vh;
}

.popup-section:nth-of-type(1), .popup-section:nth-of-type(3) {
  display: none;
}

.popup-section{
  position: relative;
  background-color: white;
  width: 350px;
  height: 80vh;
  border-radius: 5px;
  font-family: Montserrat;
}

.x-box{
  position: absolute;
  top: 10px;
  right: 10px;
}

.food-image{
  display: block;
  margin: 50px auto 25px;
}

.popup-section > h2{
  width: 200px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #2F463D;
}

.popup-section > p{
  text-align: center;
  width: 90%;
  margin: 20px auto;
  font-family: Ubuntu; 
  font-size: 14px;
  line-height: 26px;
  color: #828282;
}

.item-section {
  font-family: Montserrat;
  background: #F0FFF5;
  width: 80%;
  margin: 20px auto;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-image {
  width: 66px;
}
.item-info {
  width: 120px;
}
.item-info > p:nth-of-type(1){
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 5px;
  color: #2F463D;
}
.item-info > p:nth-of-type(2){
  font-weight: 500;
  font-size: 14px;
  color: #7A8F85;
}
.item-link {
  Size 14px;
  width: 65px;
  font-weight: bold;
  font-size: 13px;
  transition: .3s ease all;
  color: #467A66;
}
.item-link:hover {
  opacity: .8;
  transition: .3s ease all;
}
.order-food-frm{
  width: 80%;
  margin: 30px auto;
}
.order-food-btn{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 75px;  
  font-family: Montserrat;
  width: 80%;
  height: 50px;  
  background: #46A67E;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 20px 20px rgba(103, 189, 153, 0.2);
  border-radius: 5px;
  border-color:  #46A67E;
  font-weight: 700;
  letter-spacing: .8px;
  font-size: 15px;
  color: #FFFFFF;
  transition: .3s ease all;
  cursor: pointer;
}
.order-food-btn:hover {
  opacity: .8;
  transition: .3s ease all;
}
.nav-dots{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0px;
  margin: 30px auto;
  width: 15%;
  display:flex;
  justify-content: space-between;
}

.dot{
  width: 8px;
  height: 8px;
  background-color: #7A8F85;
  border-radius: 100%;
}

.green{
  background-color: #46A67E;
}

@media screen and (min-width: 992px) {
  #body-section{
    gap: 1px;
  }
  .popup-section:nth-of-type(2){
    display: block;
    transform: scale(1.1);
  }
  
  .popup-section:nth-of-type(1), .popup-section:nth-of-type(3){
    display: block;

  }

  .popup-section:nth-of-type(1) .order-food-frm .order-food-btn,
  .popup-section:nth-of-type(3) .order-food-frm .order-food-btn  {
   background: #BDBDBD;
   border-color:  #BDBDBD;    
   box-shadow: none;
   bottom: 105px;
  }
}